body {
  background-color: #F9F7FE;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #272142;
  font-size: 48px;
  font-weight: 700;
}

li {
  list-style-type: none;
}

.btn:hover {
  background: #885DF1;
}

.current-conditions {
  padding-left: 0;
  color: rgba(39, 33, 66, .4);
}

.current-temp {
    font-size: 80px;
    font-weight: 700;
}

.current-weather {
  margin-top: 60px;
}

.humidity,
.wind {
  color: #f65282;
}

.forecast-date {
  color: rgba(39, 33, 66, .4);
}

.forecast-temp-max {
  color:#f65282;
  font-size: 18px;
  font-weight: 700;
}

.forecast-temp-min {
  color: #f65282;
  font-size: 18px;
  font-weight: 700;
  opacity: .6;
}

.form {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  margin-top: 15px;
}

.search-btn {
  background: #885DF1;
  border: none;
  font-weight: 700;
  padding: 15px 0px;
}

.search-form {
  background: #F9F7FE;
  border: none;
  color: rgba(39, 33, 66, .4);
  font-size: 16px;
  padding: 15px 20px;
}

.units {
  font-size: 28px;
  font-weight: 400;
  position: relative;
  top: 19px;
}

.weather-app {
  background-color: white;
  border: 1px solid #F7F5FD;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 800px;
  padding: 40px;
}

.weather-forecast {
  display: block;
  margin: 40px 0;
  text-align: center;
  border-top: 1px solid #f9f7fe;
  border-bottom: 1px solid #f9f7fe;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 75px;
  max-width: 900px;
}